

.App-header {
  text-align: right;
  font-size: calc(10px + 2vmin);
}

.userProfile {
  padding: 5px;
}

.sidebar {
  text-align: center;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #98a567a0;
}

.pullTab{
  position: absolute;
  top: 100px;
  left: 100%;
  width: 20px;
  height: 30px;
  background-color: #7d664f9c;
  border-radius: 0 10px 10px 0;
  border: 1px solid #ffffff00;
  cursor: pointer;
}

