
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

* {
  font-family: "Hammersmith One", sans-serif;
}

.App-header {
  font-size: calc(10px + 1vmin);
}

.profilebar{
  display: flex;
  justify-content: right;
  text-align: right;
  p{
    margin-right: 10px;
    margin-top: 10px;
  }
  .menuIcon{
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
}

.sidebar {
  text-align: center;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #98a567a0;
}

.pullTab{
  position: absolute;
  top: 100px;
  left: 100%;
  width: 20px;
  height: 30px;
  background-color: #7d664f9c;
  border-radius: 0 10px 10px 0;
  border: 1px solid #ffffff00;
  cursor: pointer;
}

.content {
  margin-left: 250px;
  padding: 1px 16px;
  height: calc(100vh - 100px);
}

footer{
  bottom: 0;
  margin-left: 250px;
  background-color: #c2c7b028;
  padding: 1px;
  text-align: center;
}

