@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

:root {

  /* Colour Browns */
  --color-brown-light: #7d664f9c;
  --color-brown-medium: #4d3c2a9c;
  --color-brown-hover: #43372b9c;
  --color-brown-light-transparent: #dbc39a77;
  --color-brown-hover2: #5846329c;
  --color-brown-medium2: #6653409c;
  --color-brown-dark: #5e4d3a;
  --color-brown-light2: #a6815cad;
  /* Tag background color */
  --color-brown-medium3: #a6815c;
  /* Scroll thumb color */
  --color-brown-dark2: #8d664a;
  /* Scroll thumb hover color */
  --color-brown-medium4: #7d664f;
  /* Preference button background */
  --color-brown-dark3: #665340;
  /* Preference button hover background */
  --color-brown-dark-alt: #4c3b2b9c;
  /* Dark mode toggle background (Approx) */
  --color-brown-hover3: #634c319c;
  --color-button-hover: #65411eb1;

  /* Green colours */
  --color-green-light: #bec6a0;
  --color-green-hover: #5e7d4f9c;
  --color-green-muted-solid: #708871;
  --color-green-medium: #9fac7f;
  --color-green-light2: #799f73a8;
  /* Ingredient background color */
  --color-green-checkbox: #6fac6a93;
  --color-green-verylight: #e0ecbca0;
  --color-green-sidebar: #79855b73;
  --color-yellow-green: #f7ffdaa8;
  /* Scroll track gradient color */
  --color-green-muted: #9baa74c6;
  /* No items background */

  /*Beige colours */
  --color-beige-light: #98a567a0;
  --color-beige-medium: #dab378a7;
  /* Tag item border */
  --color-beige-light3: #ead9bbbe;
  /* Dark mode toggle ball color (Approx) */

  /* Blue colours */
  --color-blue-link: #1250c185;
  --color-blue-light-transparent: #badce9b9;
  --color-teal-light: #b8e2edb1;
  /* Include item background */
  --color-teal-hover: #81bdc9a8;
  /* Include item hover background */
  --color-teal-blue: #88b9c3a8;
  --color-teal-bluer: #85bac59c;
  --color-cyan-light: #bfe6f0bc;
  --color-blue-base: #cfe6ef;
  /* Included item background */

  /*Purple colours  */
  --color-purple-light: #d9b0dda4;
  /* Menu column background (Approx) */
  --color-purple-hover: #cc75d797;
  /* Menu recipe hover background (Approx) */
  --color-lavender-medium: #c090d2bb;
  /* Ingredient item border */
  --color-dark-purple: #d7a2db;
  /* Highlighted Today's Menu */
  --color-lavender-light2: #e8c8f4bb;
  /* Ingredient item background */
  --color-lavender-light: #a149c1a4;
  --color-purple-base: #e6cfef;
  /* Tags info background */


  /*Yellow colours */
  --color-yellow-light: #d7e1b2bd;
  /* Recipe info content background */
  --color-yellow-bright: #f6f099a7;
  /* Tag item background */

  /*red colours */
  --color-red-light: #e60e0ebc;
  /* Delete account background (Approx) */
  --color-red-light2: #e60e0eef;
  /* Delete account background (Approx) */

  /*Grey colours */
  --color-grey-light: #e7e0d8;
  --color-offwhite: #fffbf6;
  --color-transparent: #00000000;
  --color-shadow-light: rgba(0, 0, 0, 0.1);
  --color-shadow-med: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black for overlay */
  --color-popup-border: #ccc;
  --color-popup-arrow: #f9f9f9;
  --color-footer-bg: #c2c7b028;
  --color-border-focus: #2f20129c;
  --color-border-focus: #5f7a60b3;
  /* No items border color */

  /* Pink colours */
  --color-pink-verylight: #edc6d5c7;
  --color-pink-lightish: #ecb9c9b1;
  --color-pink-light2: #e5b3c7d4;
  --color-pink-medium: #d79fde97;
  --color-pink-dark: #d6a8bbcf;
  --color-pink-light: #f1cbdac2;
  /* Excluded item background */
  --color-pink-hover: #ecb3c9d4;
  /* Exclude item hover background */
  --color-pink-link: #c1126f85;
  --color-pink-base: #efcfd9;
  /* Edit item color */
}

/*Light Mode */
body {
  --background-color: var(--color-offwhite);
  --text-color: #000000;
  --color-background: white;
  --color-setting-input: #3f3f3fa8;
  --color-login-bg: var(--color-green-light);
  --color-blue-link: #1250c185;
  --color-pink-link: #c1126f85;
  --checklist-bg: var(--color-offwhite);
  --checklist-hover: var(--color-grey-light);
  --checklist-checkbox: var(--color-green-checkbox);
  --button-browns: var(--color-brown-light);
  --button-browns-hover: var(--color-brown-hover2);
  --menudropdown: var(--color-green-light);
  --menudropdown-hover: var(--color-green-hover);
  --recipe-info-bg: var(--color-yellow-light);
  --recipe-tab-yellow-green: var(--color-yellow-green);
  --bookmark-inactive: var(--color-green-light);
  --bookmark-active: var(--color-green-muted-solid);
  --delete-popup: var(--color-offwhite);
}

/*Dark Mode */
body.dark {
  --background-color: #121212;
  --text-color: #ffffff;
  --color-background: #121212;
  --color-setting-input: #e7e0d8a8;
  --color-login-bg: var(--color-green-light2);
  --color-blue-link: #cef1fff5;
  --color-pink-link: #ffcedef5;
  --checklist-bg: #1f1f1f;
  --checklist-hover: #5b4a4a;
  --checklist-checkbox: #97e19193;
  --button-browns: #e1d0bf;
  --button-browns-hover: #e9dccf;
  --menudropdown: #3e5f3f;
  --menudropdown-hover: #558156;
  --recipe-info-bg: #394238;
  --recipe-tab-yellow-green: #394238;
  --bookmark-inactive: #394238;
  --bookmark-active: #5c754f;
  --delete-popup: rgb(31, 31, 31);

}

/*transition for dark mode */
body {
  transition: background-color 0.3s, color 0.3s;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  font-family: "Hammersmith One", sans-serif;

  a {
    color: var(--text-color);
    text-decoration: none;
  }
}

/* App */
.App-header {
  font-size: calc(10px + 1vmin);
}

/* NAVIGATION BAR */
.profilebar {
  display: flex;
  justify-content: right;
  text-align: right;
  max-height: 30px;

  p {
    margin-right: 10px;
    margin-top: 5px;
  }

  .menuIcon {
    border: none;
    background-color: var(--color-brown-light);
    cursor: pointer;
  }

  .menuIcon:hover {
    background-color: var(--color-brown-medium);
  }
}

.menuBar {
  position: absolute;
  background-color: var(--menudropdown);
  width: 100px;
  height: 65px;
  text-align: center;
  top: 30px;
  display: none;
  animation: toggle 0.5s;
  z-index: 1000;

  a {
    -moz-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
    border: 0;
    display: block;
    padding: 0.4em 0;
    text-decoration: none;
  }

  a:hover {
    background-color: var(--menudropdown-hover);
  }
}

@keyframes toggle {
  from {
    height: 0px;
  }

  to {
    height: 65px;
  }
}

/* Sidebar */
.sidebar {
  text-align: center;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  background-color: var(--color-beige-light);
  margin-top: auto;
  font-size: calc(10px + 1vmin);
  /* animation: open 0.5s; */
}

.sidebar>nav {
  margin-top: calc(50px + 1vmin);
}

.sidebar>nav ul {
  list-style: none;
  padding: 0;
}

.sidebar>nav ul li {
  display: block;
  padding: 0;
}

.sidebar>nav ul li a {
  -moz-transition: none;
  -webkit-transition: none;
  -ms-transition: none;
  transition: none;
  border: 0;
  display: block;
  padding: 0.85em 0;
  text-decoration: none;
}

.sidebar>nav ul li a.active {
  background: var(--color-green-sidebar);
}

.closed {
  width: 50px;
  /*animation: close 0.5s;*/
}

@keyframes close {
  from {
    width: 250px;
  }

  to {
    width: 50px;
  }
}

@keyframes open {
  from {
    width: 50px;
  }

  to {
    width: 250px;
  }
}

.pullTab {
  position: absolute;
  top: 100px;
  left: 100%;
  width: 20px;
  height: 30px;
  background-color: var(--color-brown-light);
  border-radius: 0 10px 10px 0;
  border: 1px solid var(--color-transparent);
  cursor: pointer;
}

/* SIDE BAR LOGOS*/
#sidebar-logo {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  /* animation: becomeSmall 0.5s; */
}

#sidebar-logo-small {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  /* animation: becomeBig 0.5s; */
}

@keyframes becomeBig {
  from {
    width: 50px;
    height: 50px;
  }

  to {
    width: 150px;
    height: 150px;
  }
}

@keyframes becomeSmall {
  from {
    width: 150px;
    height: 150px;
  }

  to {
    width: 50px;
    height: 50px;
  }
}


/* MAIN CONTENT */

.content {
  position: relative;
  display: grid;
  font-size: calc(10px + 1vmin);
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  left: 250px;
  padding: 1px 25px;
  height: calc(100vh - 50px);
  max-width: calc(100vw - 300px);
  overflow: hidden;
}

@keyframes shrink {
  from {
    left: 50px;
    width: calc(100vw - 100px);
  }

  to {
    left: 250px;
    width: calc(100vw - 300px);
  }
}

@keyframes spread {
  from {
    left: 250px;
    width: calc(100vw - 300px);
  }

  to {
    left: 50px;
    width: calc(100vw - 100px);
  }
}

/* FOOTER */
footer {
  /* disable display for now: nothing in it */
  display: none;
  bottom: 0;
  background-color: var(--color-footer-bg);
  padding: 1px;
  text-align: center;
}

/* LOGIN STYLE */

.login-form {
  display: inline-block;
  padding: 1rem;
}

.login-form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.login-form li+li {
  margin-top: 1em;
}


.login {
  width: 100%;
  height: 100vh;
  font-size: calc(10px + 1vmin);
  display: flex;
}

#SignIn-container,
#SignUp-container {
  display: flex;
  justify-content: center;
  flex: 1;
}

#SignIn-component,
#SignUp-component {
  background-color: var(--color-login-bg);
  display: flex;
  justify-content: center;
  padding-top: 10%;
  box-shadow: 0 0 10px 0 --color-shadow-light;
  width: 100%;
}

.form-title {
  cursor: default;
  border-bottom: 2px dashed black;
}

.login-form li p {
  margin: 0;
  width: 40vw;
  max-width: 300px;
}


.login-form label {
  /* Uniform size & alignment */
  display: inline-block;
  min-width: 90px;
  text-align: left;
}

.login-form input,
.modal input {
  /* Uniform text field size */
  width: 40vw;
  max-width: 300px;
  padding: 5px;
  box-sizing: border-box;
  /* Match form field borders */
  border: 2px solid transparent;
  border-radius: 5px;
}

.login-form input:focus,
.modal input:focus {
  /* Additional highlight for focused elements */
  border-width: 2px;
  border-color: var(--color-border-focus);
  outline: none;
}

.login-form button {
  /* This extra margin represent roughly the same space as the space
   between the labels and their text fields */
  border-radius: 5px;
  font-size: 1em;
  width: 40vw;
  max-width: 300px;
  padding: 5px;
  background-color: var(--color-brown-light);
  border-color: var(--color-brown-medium2);
}

.login-form button:hover {
  background-color: var(--color-brown-medium2);
  border-color: var(--color-brown-hover);
  cursor: pointer;
}

#moving-cover {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100vh;
  background-color: var(--color-green-muted-solid);
  display: flex;
  z-index: 100;
  justify-content: center;
  align-items: center;
  transition: left 1.5s ease-in-out;
  pointer-events: none;
}

#moving-cover.active {
  left: 50%;
}

#SignUp-cover {
  display: none;
}

#SignUp-cover.active {
  text-align: center;
  display: block;
}

#SignIn-cover {
  text-align: center;
  display: block;
}

#SignIn-cover.active {
  display: none;
}

.tavern-logo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

/* Setting */
.setting-content {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  padding: 1px 0 1px 50px;
  height: calc(100vh - 35px);
  animation-fill-mode: both;
  overflow: auto;
}

.setting-item {
  margin-bottom: 1vh;
}

.setting-item h2 {
  margin: 2vmin 0;
}

.input-wrapper {
  position: relative;
  margin-right: 10vw;
  display: flex;
  flex-direction: row;
  max-width: 80%;
  height: 7vh;
  align-items: center;
  background-color: var(--color-brown-light-transparent);
}

.setting-input {
  max-width: 100%;
  width: 100%;
  padding: 0 15px;
  font-size: calc(0.65rem + 1vmin);
  border: none;
  background-color: transparent;
  color: var(--text-color);
}

.setting-input:disabled {
  color: var(--color-setting-input);
}

.setting-input:focus {
  outline: none;
}

.edit-icon {
  margin-right: 10px;
  cursor: pointer;
  font-size: calc(1rem + 1vmin);
  color: var(--button-browns);
}

.edit-icon:hover {
  color: var(--button-browns-hover);
}

.save-setting {
  margin-top: 10px;
  margin-right: 18vw;
  padding: 1vh 2vw;
  background-color: var(--color-brown-light);
  border: none;
  border-radius: 5px;
  color: var(--color-offwhite);
  font-size: calc(1rem + 1vmin);
  cursor: pointer;
  max-width: 200px;
  transition: background-color 0.3s ease;
  position: relative;
  /* make it right aligned */
  align-self: flex-end;
}

.save-setting:hover {
  background-color: var(--color-brown-medium2);
}

/* PASSWORD POP UP */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-background);
  border-radius: 8px;
  z-index: 900;
}

.modal-content {
  background-color: var(--color-green-light2);
  max-width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--color-shadow-light);
  display: flex;
  flex-direction: column;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-brown-medium4);
  color: var(--color-background);
  cursor: pointer;
}

.modal-buttons button:hover {
  background-color: var(--color-brown-dark);
}

.message-form {
  display: flex;
  align-self: center;
}

/* Home */
.todayMenu {
  display: flex;
  grid-row: 1/3;
  grid-column: 1;
  width: 200px;
  text-align: center;
  flex-wrap: wrap;
  border: solid 1px var(--color-transparent);
  background: var(--color-green-verylight);
  padding: 10px;

  th {
    padding: 10px;
  }

  td:hover {
    text-decoration: underline;
  }
}



.highlighted {
  color: var(--color-dark-purple);
  /* make font italic */
  font-style: italic;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 5px;
}

th {
  border-bottom: solid 2px var(--text-color);
}

.weekCalendar {
  display: flex;
  grid-row: 3/5;
  grid-column: 1;
  width: 200px;
  text-align: center;
  flex-wrap: wrap;
  border: solid 1px var(--color-transparent);
  font-size: calc(7px + 1vmin);
  background: var(--color-green-verylight);
  padding: 10px;
}

.groceryList {
  grid-row: 2/5;
  grid-column: 10;
  width: 295px;
  border: solid 1px var(--color-transparent);
  background: var(--color-green-verylight);
  padding: 10px;

  h4 {
    text-align: center;
    padding-bottom: 12px;
    border-bottom: solid 2px var(--text-color);
  }
}

/* The container of grocery item*/
.groceryItem {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 10px;
  cursor: pointer;
  font-size: calc(10px + 1vmin);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  a {
    width: fit-content;
    color: var(--color-blue-link);
    font-size: calc(5px + 1vmin);
    display: none;
  }

  .removeItem {
    color: var(--color-pink-link);
  }
}

/* Hide the browser's default checkbox */
.groceryItem input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  border-radius: 20px;
  top: -4px;
  left: 5px;
  height: calc(20px + 1vmin);
  width: calc(20px + 1vmin);
  background-color: var(--checklist-bg);
}

/* On mouse-over, add a grey background color */
.groceryItem:hover input~.checkmark {
  background-color: var(--checklist-hover);
}

/* When the checkbox is checked, add a blue background */
.groceryItem input:checked~.checkmark {
  background-color: var(--checklist-checkbox);
}

/* Strikethrought the text when checkbox is checked */
.groceryItem input:checked~.itemName {
  text-decoration: line-through;
}

/* Show add to ingredient button when checkbox is checked */
.groceryItem input:checked~a {
  display: block;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.groceryItem input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.groceryItem .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--color-background);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.addGrocery {
  font-size: calc(25px + 1vmin);
  position: relative;
  left: -3px;
  border: none;
  background-color: var(--color-transparent);
  color: var(--button-browns);
  width: 33px;
}

.move-right {
  animation: moveRight 0.5s forwards;
}

.move-left {
  animation: moveLeft 0.5s forwards;
}

.open {
  display: block;
  /* Ensure it's block when open */
  animation: openRight 0.5s forwards;
}

.close {
  display: none;
  /* To be hidden after closing */
  animation: closeLeft 0.5s forwards;
}


@keyframes moveRight {
  from {
    left: -3px;
  }

  to {
    left: 250px;
  }
}

@keyframes moveLeft {
  from {
    left: 250px;
  }

  to {
    left: -3px;
  }
}

.addGrocery:hover {
  background-color: var(--color-transparent);
  cursor: pointer;
  color: var(--button-browns-hover);
}

.addGroceryItem {
  display: none;
  position: absolute;
  width: 280px;
  height: 31px;
  border: solid 1px var(--color-transparent);
  border-radius: 50px;
  text-indent: 5px;
}

@keyframes openRight {
  from {
    width: 0px;
  }

  to {
    width: 280px;
  }
}

@keyframes closeLeft {
  from {
    width: 280px;
  }

  to {
    width: 0px;
  }
}

/* QUICK RECIPE IN HOME */
.quickRecipe {
  grid-row: 1/5;
  grid-column-start: 2;
  grid-column-end: 10;

  border: solid 1px var(--color-transparent);
  background: var(--color-green-verylight);
  padding: 10px;
}

.recipeiFrame {
  width: 100%;
  height: 100%;
}

.iframeContainer {
  background: var(--color-background);
  position: relative;
  height: 100%;
  width: 100%;
}

.iframeCannot {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20%;
  font-size: calc(10px + 1vmin);

  a:hover {
    color: var(--color-blue-link);
    text-decoration: underline;
  }
}

/* QUICK INGREDIENT AT HOME*/
.quickIngredient {
  display: flex;
  grid-row: 1;
  grid-column: 10;
  text-align: center;
  flex-wrap: wrap;
  border: solid 1px var(--color-transparent);
  background: var(--color-green-verylight);
  padding: 10px;

  table {
    /* makes sure each column is the same size */
    table-layout: fixed;
  }

  /* middle line between columns */
  .first {
    border-right: solid 2px var(--text-color);
  }

  th {
    font-size: calc(20px + 1vmin);
  }
}

/* INVENTORY PAGE*/
#ingredient-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: calc(10px + 1vmin);
  overflow: auto;
}

.inventory {
  display: flex;
  border: solid 1px var(--color-transparent);
  background: var(--color-blue-light-transparent);
  padding-left: 10px;
  padding-bottom: 10px;

  h4 {
    padding-bottom: 10px;
    border-bottom: solid 2px var(--text-color);
  }

  margin-bottom: 10px;

  .edit-icon {
    margin-left: 5px;
  }

  .inventoryItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }

  .inventoryActionsContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .addToGrocery {
    color: var(--color-pink-link);
    background-color: var(--color-transparent);
    border: none;
    font-size: calc(5px + 1vmin);
    cursor: pointer;
  }
}

.addCategory {
  width: 100%;
  height: 50px;
  border: none;
  background-color: var(--button-browns);
  color: var(--color-background);
  font-size: calc(10px + 1vmin);
}

.addCategory:hover {
  background-color: var(--button-browns-hover);
}

.popupAddCategory {
  display: none;
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
  width: 300px;
  height: 100px;
  background-color: var(--color-background);
  box-shadow: 0 0 10px 0 --color-shadow-light;
  border-radius: 10px;
  padding: 10px;
  z-index: 1000;
}

.addCategoryItem {
  width: 97%;
  height: 30px;
  background-color: var(--menudropdown);
  color: var(--text-color);
  margin-bottom: 10px;
}

.removeFromInventory:hover {
  text-decoration: line-through;
  cursor: pointer;
}

.editItem {
  color: var(--color-blue-link);
  background-color: var(--color-transparent);
  border: none;
  font-size: calc(10px + 1vmin);

  &:focus {
    outline: none;
  }
}


/* GROCERY LIST PAGE */
.grocery {
  display: flex;
  border: solid 1px var(--color-transparent);
  background: var(--color-pink-lightish);
  padding-left: 10px;
  padding-bottom: 10px;

  h4 {
    padding-bottom: 10px;
    border-bottom: solid 2px var(--text-color);
  }

  margin-bottom: 10px;

  .edit-icon {
    position: relative;
    margin-top: 5px;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .editItem {
    display: inline-flex;
    margin-left: 32px;
    margin-top: 5px;
    margin-bottom: 3px;
    color: var(--color-pink-link);
    background-color: var(--color-transparent);
    border: none;
    font-size: calc(10px + 1vmin);
  }

  .groceryItem {
    max-width: 20vw;
    overflow-wrap: break-word;
  }

}

/* RECIPE TAB */

.recipe-tab-container {
  position: fixed;
  right: calc(-40vw + 20px);
  /* Start at the edge of the screen */
  top: calc(50% - 45vh);
  width: 40vw;
  min-width: 300px;
  height: 90vh;
  display: flex;
  flex-direction: row-reverse;
  /* Ensure the tab appears on the right */
  justify-content: flex-start;
  transition: right 0.4s ease-in-out;
  border-radius: 50px 0 0 50px;
  z-index: 10;
}

.recipe-tab-container.recipe-open {
  right: 0;
  /* Fully open the tab */
}

.book-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-beige-light);
  box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: auto;
  /* Prevent the book content from being clickable */
  border-radius: 50px 0 0 50px;
  z-index: 12;
}

.background {
  background-color: var(--color-background);
}

.book-content {
  margin: 20px 0 0 20px;
  height: 100%;
}

/* Bookmarks */
.bookmarks {
  position: absolute;
  left: 0;
  /* Start hidden behind the tab on the left */
  top: 10%;
  transition: left 0.4s ease-in-out;
}

.bookmarks.show {
  left: -50px;
  /* Slide out to the left when the tab is open */
}

.bookmark {
  display: block;
  border: none;
  padding: 10px 15px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 50px 0 0 50px;
  /* center items */
  display: flex;
  transition: background-color 0.3s ease;
  /* Smooth color transition */
}

.bookmark-active {
  background-color: var(--bookmark-active);
}

.bookmark-inactive {
  background-color: var(--bookmark-inactive);
}

/* EACH BOOKMARK TAB */

/* RECIPE BROWSE */
.tab-title {
  border-radius: 5px 0 0 0;
  padding: 5px 0 20px 10px;
  width: 80%;
  /* spacing between characters 2px */
  letter-spacing: 3px;
  font-size: x-large;
  font-weight: bold;
  cursor: default;
}

.search-bar-container {
  background-color: var(--recipe-tab-yellow-green);
  margin: 0 10% 2% 0;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
}

.search-bar {
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 5px;
  color: var(--text-color);
}

.search-icon,
.filter-icon {
  font-size: 1.5rem;
  margin: 0 10px;
  cursor: pointer;
}

.recipe-containers {
  overflow-y: auto;
  /* Make the container scrollable if the content exceeds the max height */
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.prev-btn, .prev-media,
.next-btn, .next-media, .random-btn {
  padding: 5px 10px;
  margin: 0 10px;
  background-color: var(--color-brown-hover2);
  border-radius: 5px;
  cursor: pointer;
}

.random-btn {
  display: flex;
  align-items: center;

  .random-icon {
    margin-left: 5px;
  }
}

.random-btn-container {
  position: fixed;
  bottom: 10vh;
}

.prev-media, .next-media, .page-num-media {
  display: none;
}

.prev-btn:disabled,
.next-btn:disabled,
.prev-media:disabled,
.next-media:disabled {
  background-color: var(--color-green-verylight);
  cursor: not-allowed;
}

.no-result {
  margin: 20px;
  font-size: 1.25rem;
}

/* RECIPE LIST */
.recipe-list {
  background-color: var(--recipe-tab-yellow-green);
  margin: 20px 0;
  max-width: 100%;
  /* Set a maximum width */
  padding: 10px;
  /* Add padding for better spacing */
  position: relative;
  /* Position relative for icon placement */
  overflow: hidden;
  /* Prevent horizontal scroll */
}

.recipe-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 10px 0;
  display: flex;
  /* Use flexbox for layout */
  justify-content: space-between;
  /* Space between title and icons */
  align-items: center;
  /* Center items vertically */
  position: relative;
  /* Ensure stacking order */
  z-index: 10;
  /* Make sure it's above other elements */
}

.recipe-title a {
  flex-grow: 1;
  /* Allow title to grow */
  text-decoration: none;
  /* Remove underline for normal state */
  color: inherit;
  /* Inherit color from parent */
  overflow: hidden;
  /* Hide overflow text */
  text-overflow: ellipsis;
  /* Add ellipsis for overflow text */
}

.recipe-title a:hover {
  text-decoration: underline;
  /* Underline on hover */
}

.icon-container {
  display: flex;
  /* Flexbox for icon layout */
  padding-right: 10px;
  /* Add padding to the left of icons */
  z-index: 10;
  /* Ensure icons are above other elements */
}

.info-icon,
.star-icon,
.remove-icon {
  cursor: pointer;
  /* Change cursor to pointer for interactivity */
  margin-left: 5px;
  /* Add space between icons */
}

.recommendation-info {
  position: absolute;
  /* Position the recommendation info */
  top: 30px;
  /* Align to the top of the container */
  right: 70px;
  /* Align to the right of the container */
  cursor: pointer;
  font-size: 1.75rem;
}

.rec-info-popup {
  position: absolute;
  top: 60px;
  /* Adjust position as needed */
  right: 0;
  width: 200px;
  /* Adjust width as needed */
  padding: 10px;
  background-color: var(--background-color);
  /* Background color of the popup */
  border: 1px solid var(--color-popup-border);
  border-radius: 8px;
  box-shadow: 0px 4px 8px var(--color-shadow-light);
  cursor: default;
  z-index: 11;
}

/* Tags styling */
.recipe-tags {
  display: flex;
  /* Use flexbox for tags */
  flex-wrap: wrap;
  /* Allow tags to wrap to a new line */
  margin-top: 5px;
  /* Add spacing above tags */
}

.r-tag {
  background-color: var(--color-brown-light2);
  color: var(--color-background);
  padding: 5px 10px;
  border-radius: 50px;
  margin: 0 5px 5px 0;
  /* Space between tags */
}

/* Ingredients styling */
.recipe-ingredients {
  margin-top: 5px;
  /* Add spacing above ingredients */
}

.r-ing {
  background-color: var(--color-green-light2);
  color: var(--color-background);
  padding: 5px 10px;
  border-radius: 50px;
  margin: 0 5px 5px 0;
  /* Space between ingredients */
  display: inline-block;
  /* Ensure each ingredient is on a new line if long */
}

/* DRAGGING */

.dragging {
  pointer-events: none;
}

/* RECIPE INFO */

.recipe-info-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-shadow-med);
  /* Semi-transparent background */
  border-radius: inherit;
  /* Inherit border radius from parent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
  /* Ensure modal is on top */
}

.recipe-info-content {
  position: relative;
  background-color: var(--recipe-info-bg);
  padding: 20px;
  cursor: default;
}

.recipe-info-background {
  max-height: 75vh;
  /* Set a maximum height for modal */
  border-radius: 8px;
  max-width: 40vw;
  min-width: 324px;
  /* Set a max width for modal */
  /* width: 100%; */
  margin: 20px 0 0 20px;
  /* Add margin for spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: hidden;
  overflow-x: hidden;
  /* Hide horizontal scroll */
}

.scrollable {
  max-height: 60vh;
  /* Set a maximum height for the scrollable content */
  overflow-y: auto;
  /* Allow content to scroll if it exceeds max height */
}

.x-button {
  position: absolute;
  top: 20px;
  /* Adjust this value as needed for spacing */
  right: 20px;
  /* Adjust this value as needed for spacing */
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.origin-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.recipe-info-content a {
  margin: 0 20px 10px 0;
}

.recipe-info-content ul {
  list-style-type: square;
  padding: 0 0 0 20px;
}

.recipe-info-name {
  /* add style of h2 */
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

.recipe-info-name:hover {
  text-decoration: underline;
}

.recipe-tags-container {
  display: flex;
  /* Flexbox for tag layout */
  flex-wrap: wrap;
  /* Allow tags to wrap to the next line */
}

.recipe-tags-info {
  background-color: var(--color-purple-light);
  padding: 5px 10px;
  margin: 0 5px 5px 0;
  /* Space between tags */
  border-radius: 50px;
  margin-top: 5px;
  /* Add spacing above tags */
}

.info-header-container {
  display: flex;
  /* Flexbox for header layout */
  align-items: center;
  /* Center items vertically */
  margin-top: 10px;
  /* Add spacing above header */
}

.ingredients-header {
  font-size: 1.25rem;
  /* gap between characters */
  letter-spacing: 2px;
}

.highlight-info-popup {
  position: fixed;
  top: 30%;
  /* Adjust position as needed */
  right: inherit;
  transform: translate(-110%, 0);
  width: 300px;
}

.recipe-ingredients-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Two equal columns */
  gap: 5px;
  /* Add some space between the columns */
  column-gap: 30px;
  /* Add some space between the columns */
  padding: 0;
  /* Remove padding from the container */
}

.recipe-ingredients-info {
  list-style-type: square;
  /* Remove default list styling */
  padding: 0 5px;
  /* Add some padding for the individual list items */
  border-radius: 50px;
  /* Add border radius to the list items */
  cursor: default;
  /* Change cursor to pointer for interactivity */
}

.highlightable {
  cursor: pointer !important;
  /* Change cursor to pointer for interactivity */
}

.highlightable:hover,
.selected-ing,
.in-grocery-list,
.pink-highlight {
  background-color: var(--color-pink-light2) !important;
  /* Add a light background color for selected ingredients */
}

.in-inventory,
.blue-highlight {
  background-color: var(--color-teal-blue);
  /* Add a light background color for ingredients in inventory */
}

/* SCROLLER STYLE */

.custom-scroll,
* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-brown-medium3) transparent;
}

/* Webkit browsers (Chrome, Edge, Safari) */
.custom-scroll::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 15px;
  /* Width of the scrollbar */
  height: 8px;
  /* Height of horizontal scrollbar */
}

.custom-scroll::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background-color: var(--color-brown-medium3);
  /* Custom thumb color */
}

.custom-scroll::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-brown-dark2);
  /* Custom thumb color on hover */
}

/* Track with a gradient to create the illusion of a thinner middle */
.custom-scroll::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
  background: linear-gradient(to right, transparent 25%, var(--color-yellow-green) 50%, transparent 75%);
  /* Gradient background */
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-corner,
*::-webkit-scrollbar-corner {
  background: transparent;
  /* For the bottom-right corner of scrollbars */
}

/* FILTER POP UP */

/* Styles for the filter popup */
.popup {
  border-radius: 50px 0 0 50px;
}

.filter-popup-background {
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translate(-60%, -50%);
  background-color: var(--background-color);
  width: 90%;
  min-width: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 800;
  /* Ensure it's behind the popup */
}

.filter-popup {
  background-color: var(--recipe-info-bg);
  border: 1px solid var(--color-popup-border);
  border-radius: 8px;
  padding: 20px;
  z-index: 900;
  /* Make sure it appears above other content */
  display: flex;
  flex-direction: column;
}

.filter-popup h3 {
  margin: 0 0 15px;
  text-align: justify;
  letter-spacing: 2px;
}

.included-excluded-section {
  margin-bottom: 20px;
  display: flex;
  max-height: 20vh;
  overflow-y: auto;
}

.included-items,
.excluded-items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  cursor: pointer;
}

.included-item,
.excluded-item,
.no-items {
  padding: 5px 10px;
  border-radius: 50px;
  margin: auto 2px;
  display: flex;
  align-items: center;
}

.included-item {
  border: 2px solid var(--color-teal-bluer);
  background-color: var(--color-cyan-light);
}

.excluded-item {
  border: 2px solid var(--color-pink-dark);
  background-color: var(--color-pink-light);
}

.no-items {
  cursor: default;
  border: 2px solid var(--color-border-focus);
  background-color: var(--color-green-muted);
}

.included-item:hover,
.excluded-item:hover {
  text-decoration: line-through;
}

.columns {
  display: flex;
  justify-content: space-between;
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.columns h4 {
  margin: 0 0 10px 10px;
  text-align: justify;
  letter-spacing: 2px;
}

.tags-column,
.ingredients-column {
  flex: 1;
  margin: 0 10px;
  min-width: 100px;
}

.column-separator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  /* Place it in the middle */
  width: 2px;
  background-color: var(--text-color);
  /* Light gray color for the separator */
}

.tag-item,
.ingredient-item {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-radius: 50px;
  margin-bottom: 10px;
  align-items: center;
  cursor: default;
  overflow-wrap: break-word;

  span {
    max-width: 50%;
  }
}

.tag-item {
  /* fit item */
  border: 2px solid var(--color-beige-medium);
  background-color: var(--color-yellow-bright);
}

.ingredient-item {
  border: 2px solid var(--color-lavender-medium);
  background-color: var(--color-lavender-light2);
}

.tag-item button,
.ingredient-item button {
  visibility: hidden;
  margin: 0 5px;
  height: 25px;
  width: 25px;
  color: var(--color-background);
  border-radius: 50px;
  cursor: pointer;
  padding: 3px 6px;
}

.tag-item:hover button,
.ingredient-item:hover button {
  visibility: visible;
}

.include {
  border-color: var(--color-teal-blue);
  background-color: var(--color-teal-light);
}

.include:hover {
  background-color: var(--color-teal-hover);
}

.exclude {
  border-color: var(--color-pink-light2);
  background-color: var(--color-pink-verylight);
}

.exclude:hover {
  background-color: var(--color-pink-hover);
}

/* WEEKLY MENU */

.menu-table {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-between;
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu-column {
  border-right: 3px solid black;
  background-color: var(--color-purple-light);
  transition: width 0.3s ease;
}

.menu-recipe {
  background-color: var(--color-pink-medium);
}

.menu-recipe:hover {
  background-color: var(--color-purple-hover);
}

.day-title {
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 3px solid black;
  cursor: default;
}

/* PREFERENCE */
.pref {
  display: flex;
  flex-direction: row;
  margin-right: 10vw;
  border-top: 2px dashed grey;
  padding-top: 10px;
}

.pref h2 {
  margin: 0 0 10px;
  text-align: justify;
  letter-spacing: 2px;
  flex: 1;
}

.pref input {
  margin: 0 10px;
}

.pref p, .pref a {
  margin: 5px 8px 10px;
  letter-spacing: 0.5px;
}

.menu-format-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.pref button {
  padding: 5px 10px;
  margin: 0 0 0 10px;
  background-color: var(--color-brown-medium4);
  color: var(--color-background);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.pref button:hover {
  background-color: var(--color-brown-dark3);
}

.delete-acc {
  background-color: var(--color-red-light) !important;
}

.delete-acc:hover {
  background-color: var(--color-red-light2) !important;
}

/* DARK MODE TOGGLE */

.toggle {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96px;
  height: 48px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
}

.checkbox {
  display: none;
}

.icon {
  width: 50%;
  font-size: 25.6px;
  line-height: 48px;
  text-align: center;
  z-index: 1;
}

.ball {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 5.6px;
  transition: 0.2s;
}

/* ---- ---- Light Mode ---- ---- */

.light .toggle {
  background: var(--color-brown-light-transparent);
}

.light .ball {
  background-color: var(--color-brown-dark-alt);
}

/* ---- ---- Dark Mode ---- ---- */

.dark .toggle {
  background: var(--color-brown-dark-alt);
}

.dark .ball {
  background-color: var(--color-beige-light3);
  transition: 0.3s;
  transform: translateX(48px);
}

/* ANIMATION */
.ball {
  transition: 0.3s linear;
}

/* Dropdown menu css */

.triangle-down {
  transition: transform 0.3s ease;
  margin: 0 5px;
}

.chosen {
  flex: 1;
}

.dropbtn {
  display: flex;
  flex-direction: row;
  background-color: var(--color-brown-light-transparent);
  padding: 2vh 1.5vw;
  max-width: 150px;
  width: 80%;
  font-size: 1rem;
  border: 3px solid var(--color-brown-medium2);
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: var(--color-green-sidebar);
  border: 3px solid transparent;
  color: var(--color-background);

  .triangle-down {
    transform: rotate(180deg);
  }
}

.dropdown-menu {
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  display: block;
  width: 200px;
  transition: all 0.3s ease;
  transform: translate(50%, 60%);
  overflow: hidden;
  box-shadow: 0 4px 8px var(--color-shadow-light);
}

.color-overlay {
  background-color: var(--color-brown-light-transparent);
}

.day-option, .browser-option, .version-option {
  padding: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 4px -2px var(--color-shadow-med);
  transition: background-color 0.3s ease;
}

.day-option:hover {
  background-color: var(--color-green-sidebar);
}

.preference {
  justify-content: end;

  button {
    margin: 0 0 0 5px;
  }
}

.delete-popup {
  background-color: var(--delete-popup);
  /* border: 3px solid var(--color-red-light; */
  box-shadow: 0 4px 8px var(--color-shadow-med);


  h2,
  p {
    margin: 0 0 10px;
    padding: 10px 5px;
    text-align: justify;
    border-bottom: 2px solid grey;
  }
}

.slider {
  accent-color: var(--color-brown-medium2);

}

.font-size-text {
  justify-self: center;
  text-align: center;
  align-self: center;
  width: 3vw;
}

.report-bug-modal {
  max-width: 500px;
  width: 500px;
}

#bug-description, #bug-location {
  resize: vertical;
  border-radius: 5px;
  padding: 5px;
  margin: 0 0 10px;
  background-color: var(--background-color); /* Change the background color */
  color: var(--text-color); /* Change text color */
}

#bug-description {
  height: 100px;
}

#bug-location {
  height: 20px;
}

.report-bug-modal ul {
  list-style-type: none;
  padding: 0;
}

.bugbtn{
  background-color: var(--background-color);
  border: 1px solid var(--color-brown-medium2);
  padding: 1vh 1vw;
}

.bugbtn:hover, .bugbtn:focus {
  background-color: var(--color-brown-medium4);
  border: 1px solid transparent;
}

.browser-menu {
  transform: translate(0, 62.5%);
}

.browser-option:hover, .version-option:hover {
  background-color: var(--color-brown-medium);
}

.version-menu {
  transform: translate(0, 500%);
}

.message-bug-report {
  text-align: end;
  color: var(--color-red-light2);
}

.kofi-logo {
  display: inline-block;
  width: 50px; 

  /* animation with 10 second gaps between another animation */
  animation: kofi-sway 8s linear infinite;
}

@keyframes kofi-sway {
  0%,
  20% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(30deg);
  }

  10% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(-30deg);
  }
  
}

.kofi-donations .donateBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 180px;
  border-radius: 50px;
  margin-bottom: 5vh;
}

.faq-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.accordian {
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px 15px 20px;
}

.faq-item {
  width: 100%;
  background-color: var(--color-beige-medium);
  margin: 0 0 10px 10px;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.faq-item.selected {
  background-color: var(--background-color);
}

.faq-title {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.faq-question {
  margin: 0 !important;
  font-size: 15px;
  color: var(--text-color);
  text-align: center;
}

.faq-answer {
  height: 0;
  overflow: hidden;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: var(--text-color);
  transition: height 1s ease;
}

.show {
  cursor: default;
}

.expand-toggle {
  align-self: center;
  font-size: 1.5rem;
  height: 25px;
}


.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.loading-cont {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 5vh;
  height: 60vh;
  flex-direction: column;
}

.loading-menu {
  position: fixed;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
}

.loading-menu.sidebarOpen {
  transform: translate(-115px, 0);
}

.loading-menu.sidebarClose {
  transform: translate(0, 0);
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 184px;
  /* Adjust to fit the triangle */
  height: 172px;
  /* Adjust to fit the triangle */
}

.loading-ball {
  position: absolute;
  background-color: var(--color-green-light2);
  /* Make the background transparent */
  border: 6px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.loading-ball:nth-child(1) {
  top: 0;
  /* Position for the top icon */
  left: 50%;
  transform: translate(-50%, 0);
  animation: moveBall1 5s ease-in-out infinite;
}

.loading-ball:nth-child(2) {
  bottom: 0;
  /* Position for the bottom-left icon */
  left: 0;
  animation: moveBall2 5s ease-in-out infinite;
}

.loading-ball:nth-child(3) {
  bottom: 0;
  /* Position for the bottom-right icon */
  right: 0;
  animation: moveBall3 5s ease-in-out infinite;
}

.icon {
  color: var(--text-color);
  animation: sway 2s linear infinite;
}

/* Individual movement animations for each ball */
@keyframes moveBall1 {

  0%,
  100% {
    transform: translate(-50%, 0);
    /* Original position for the top ball */
  }

  33% {
    transform: translate(50%, 175%);
    /* Move slightly up and to the left */
  }

  66% {
    transform: translate(-150%, 175%);
    /* Move down slightly */
  }
}

@keyframes moveBall2 {

  0%,
  100% {
    transform: translate(0, 0);
    /* Original position for the top ball */
  }

  33% {
    transform: translate(100%, -175%);
    /* Move slightly up and to the left */
  }

  66% {
    transform: translate(200%, 0);
    /* Move down slightly */
  }
}

@keyframes moveBall3 {

  0%,
  100% {
    transform: translate(0, 0);
    /* Original position for the top ball */
  }

  33% {
    transform: translate(-200%, 0);
    /* Move down slightly */
  }

  66% {
    transform: translate(-100%, -175%);
    /* Move slightly up and to the left */
  }
}

/* Sway animation for the icons */
@keyframes sway {

  0%,
  100% {
    transform: rotate(0deg);
    /* Original position */
  }

  25% {
    transform: rotate(60deg);
    /* Sway to the right */
  }

  50% {
    transform: rotate(0deg);
    /* Return to the original position */
  }

  75% {
    transform: rotate(-60deg);
    /* Sway to the left */
  }
}


/* Overlay */
.dropdown-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-shadow-med);
  /* semi-transparent background */
  z-index: 999;
  /* Below dropdown but above everything else */
  cursor: default;
}

.dropdown-container {
  width: 500px;
  overflow: hidden;
}

/* DROP DOWN */
.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 30vw;
  top: -100%;
  left: calc(50% - 15vw);
  z-index: 1000;
  transition: top 0.3s ease-out;
  /* Smooth transition */
}

.dropdown.slide-down {
  top: 0;
}

.dropdown-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--color-background);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 0;
  max-height: 0;
  overflow: hidden;
}

.dropdown-options.slide-down {
  max-height: 500px;
  /* Set to a large enough value to fit the content */
}

.dropdown-options h3 {
  margin: 0;
  padding: 5px 10px;
  color: var(--text-color);
  cursor: default;
}

.dropdown-options ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  list-style: none;
  margin: 5px 0;
  padding: 0;
}

.dropdown-options li {
  margin: 5px 0;
}

.dropdown-options li+li {
  margin-left: 10px;
}

.dropdown-options input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--color-brown-medium3);
}

.dropdown-options button {
  background-color: var(--color-brown-medium3);
  color: var(--color-background);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-options button:hover {
  background-color: var(--color-button-hover);
}

/* LANDING PAGE */
.landingPage{
  display: grid;
  position: relative;
  overflow-y: auto;
  /* Make the container scrollable if the content exceeds the max height */
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.artifactContainer img{
  position: absolute;
  mix-blend-mode: multiply;
  z-index: 500;
  transition: transform 0.5s ease; /* Smooth transition for movement */
  pointer-events: all; /* Allow pointer events for images */
}

.artifactContainer{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  pointer-events: none; /* Disable events to see if they show up */
  z-index: 500; /* Ensure images are on top */
}

#croissant{
  width: 9vw;
  top: 10%;
  left: 6%;
}

#egg{
  width: 8vw;
  top: 10%;
  left: 20%;
}

#carrot{
  width: 6vw;
  top: 30%;
  left: 17%;
}

#soup{
  width: 13vw;
  top: 40%;
  left: 27%;
}

#noodle{
  width: 14vw;
  top: 30%;
  left: 0%;
}

#cow{
  width: 20vw;
  top: 70%;
  left: 0%;
}

#burger{
  width: 14vw;
  top: 50%;
  left: 55%;
}

#beer{
  width: 10vw;
  top: 7%;
  left: 70%;
}

#tomato{
  width: 10vw;
  top: 45%;
  left: 75%;
}

#ricebowl{
  width: 15vw;
  top: 70%;
  left: 68%;
}

#cake{
  width: 17vw;
  top: 15%;
  left: 82%;
}

#spinach{
  width: 15vw;
  top: 50%;
  left: 88%;
}

#donut{
  width: 9vw;
  top: 85%;
  left: 85%;
}

.landingHeader{
  display: flex;
  /* make the profilebar fixed at the top of the screen */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  justify-content:space-between;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  font: calc(10px + 1vmin);

  img{
    width: 30px;
    height: 30px;
  }
}

.landingPage div{
  padding-top: 30px;
  width: 100%;
  height: calc(100vh - 30px);
  position: relative;
  scroll-snap-align: center;
}

.glassyContainer{
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  z-index: 501;
  box-shadow: 0 4px 8px var(--color-shadow-med);
  /* Fade-in properties */
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease-in; /* 1-second fade-in animation */
}

/* Fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Optional: Slight upward movement */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fade-out animation */
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px); /* Optional: Slight downward movement */
  }
}

/* Apply the animation when the fade-in class is added */
.fade-in {
  animation: fadeIn 1s ease forwards;
  opacity: 1;
}

/* Apply the fade-out animation when the class is removed */
.fade-out {
  animation: fadeOut 1s ease forwards;
  opacity: 0;
}

.section1{
  background-color: var(--color-green-light);
  img{
    width: 22%;
    object-fit: cover;
    position: absolute;
    left: calc(50% - 11%);
    z-index: 501;
  }

  div {
    width: 40%;
    height: 15%;
    top: 73%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }  

  p{
    font-size: 1.5rem;
    color: var(--color-green-muted-solid);
  }
}

.section2{
  background-color: var(--color-blue-base);
  div {
    width: 60%;
    height: 60%;
    top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 20px;
  }  
}

.section3{
  background-color: var(--color-purple-base);
  div {
    width: 50%;
    height: 70%;
    top: 20%;
    left: 46%;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }  
}

.section4{
  background-color: var(--color-pink-base);

  div {
    width: 60%;
    height: 60%;
    top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }  
}

.landingFooter{
  display: flex;
  justify-content:center;
  height: 30px;
  align-items: center;
  font: calc(10px + 1vmin);
  background-color: var(--color-pink-light);
}

.loginOrRegisterButton{
  background-color: var(--color-brown-dark3);
  color: var(--color-background);
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


/* MEDIA QUERIES FOR MOBILE VERSION */
@media only screen and (max-width: 768px) {


  .prev-btn, .next-btn, .page-num {
    display: none;
  }

  .prev-media, .next-media, .page-num-media {
    display: inline;
  }

  .recipe-list {
    padding: 5px;
  }

  .tab-title {
    font-size: large;
  }
  
  .recipe-title {
    font-size: 1.1rem;
  }

  .loading-menu {
    transform: translate(0, 0) !important;
  }

  .menu-table {
    grid-template-columns: repeat(1, 1fr);
  }

  .menu-column {
    width: 80vw !important;
  }

  .recipe-info-overlay {
    position: fixed;
    height: calc(100vh - 30px);
    border-radius: 0;
    top: 30px;
    width: 100vw;
  }

  .recipe-info-background {
    position: fixed;
    max-width: 60vw;
    margin: 20px 5vw 0 5vw;
  }

  .highlight-info-popup {
    width: 80vw;
    max-width: 300px;
    top: 20%;
    transform: translate(-5%, 0);
    padding: 0 10px;
  }

  .recipe-tab-container {
    width: 300px;
    right: calc(-300px + 20px);
    margin: 0;
  }

  .filter-popup-background {
    position: fixed;
    width: 50vw;
    left: 0.13vw;
    transform: translate(0, -50%);
  }

  .recommendation-info {
    right: 10px;
    top: 22.5px;
  }

  .setting-content {
    padding: 0 5vw;   
    overflow-x: hidden;
  }
  .setting-item {
    width: 90vw;
  }

  .input-wrapper {
    max-width: 90vw;
    margin: 0;
  }

  .save-setting {
    margin-right: 5vw;
  }

  .feedback-content {
    max-width: 100% !important;
    padding: 0;
  }

  .pref {
    width: 90vw;
  }

  .dropdown {
    width: 90vw;
    left: calc(50% - 45vw);
  }

  .modal-content {
    max-width: 80vw;
  }

  .modal input {
    width: 70vw;
  }

  .dropdown-menu{
    transform: translate(0, 65%);
    width: 125px;
  }

  .delete-popup {
    width: 70vw;
  }

  .editItem{
    width: 25vw;
  }

  .removeFromInventory {
    max-width: 25vw;
    overflow-wrap: break-word;
  }

  .inventory h4, .grocery h4 {
    max-width: 80vw;
    overflow-wrap: break-word;
  }

  .groceryItem a, .addToGrocery {
    margin-top: 7px;
    font-size: calc(7px + 1vmin);
  }

  .grocery .editItem {
    width: 20vw;
  }

  /* Change the sidebar to be on the top of the page under the profile bar */
  .sidebar {
    padding: 0;
    position: fixed;
    /* Moves sidebar to be under profile bar */
    width: 100%;
    height: 30px;
    /* Optional: Adds spacing if needed */
    display: flex;
    /* Ensures sidebar is treated like a block */
    flex-direction: row !important;
    /* Aligns items horizontally */
  }

  .sidebar > nav {
    margin-top: 0;
  }
  
  #sidebar-logo-small {
    margin-top: 0;
    width: 30px;
    height: 30px;
    /* animation: becomeBig 0.5s; */
  }

  .sidebar > nav ul{
    display: flex;
    margin-left: 10px;
    margin-top: 0;
  }

  .sidebar > nav ul li a{
    font-size: 15px;
    padding: 4.7px 10px;
    position: relative;

  }

  .pullTab {
    display: none;
    /* Hides the pull tab */
  }

  .profilebar p{
    z-index: 1000;
  }
  .profilebar .menuIcon {
    z-index: 1000;
    /* Hides the menu icon */
  }

  .todayMenu{
    width: calc(100% - 20px);
  }

  .weekCalendar{
    width: calc(100% - 20px);
    overflow-x: auto;
    margin-right: 10px;
  }

  .quickRecipe {
    width: calc(100% - 20px);
    grid-row: 5;
    grid-column: 1/3;
    overflow-wrap: break-word;
    height: 1000px;
  }

  /*move the fruits to the left*/
  .quickIngredient {
    width: calc(100% - 20px);
    grid-row: 1;
    grid-column: 2;
  }

  .quickIngredient td{
    font-size: calc(8px + 1vmin);
    overflow-wrap: break-word;
  }

  /*move the grocery list to the left*/
  .groceryList {
    width: calc(100% - 20px);
    max-width: 49vw;
    overflow-wrap: break-word;
    grid-row: 2/5;
    grid-column: 2;
  }

  /* LOGIN STYLE */

  .login {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
  }

  .login-form {
    /* background-color: white; */
    height: fit-content;
    width: 65vw;

    p, input, label, button {
      width: 100% !important;
    }
    
  }

  #SignUp-component {
    padding-top: 0;
    align-items: center;
    height: 60vh;
  }

  #SignIn-component {
    align-items: center;
    padding-top: 0;
    height: 40vh;
  }

  .tavern-logo {
    width: 150px;
    height: 150px;

  }
  
  #moving-cover {
    left: 0;
    top:0%;
    width: 100%;
    height: 40vh;
    transition:  top 1.5s ease-in-out, height 1.5s ease-in-out;
  }

  #moving-cover.active {
    top:40%;
    left:0;
    height: 60%;
  }

  /* Change the content to have flex direction column */
  .content {
    max-width: calc(100% - 40px);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    left: 0 !important;
    overflow-y: scroll;
  }

  @keyframes moveRight {
    from {
      left: -3px;
    }

    to {
      left: 130px;
    }
  }

  @keyframes moveLeft {
    from {
      left: 130px;
    }

    to {
      left: -3px;
    }
  }

  .addGroceryItem {
    width: 160px;
  }

  @keyframes openRight {
    from {
      width: 0px;
    }

    to {
      width: 160px;
    }
  }

  @keyframes closeLeft {
    from {
      width: 160px;
    }

    to {
      width: 0px;
    }
  }

}